<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<targets>
		<!-- For local development, the logs can go to a text file. -->
		<!-- Archive files, 104857600 => 100 MB-->
		<target name="file" xsi:type="File"
				fileName="./logs/PreconIQAPILog.${shortdate}.txt"
				archiveAboveSize="104857600"
				maxArchiveFiles="30"
				layout="TimeStamp=${longdate}|Level=${uppercase:${level}}|ActivityId=${activityid}|Logger=${logger}|Message=${message}${onexception:Inner=|Exception=${exception:format=tostring}}"
				/>

		<!-- Write to the void aka just remove logs -->
		<target xsi:type="Null" name="remove" />
	</targets>

	<rules>
		<logger name="System.Net.Http.HttpClient*" minlevel ="Trace" writeTo="remove" final="true" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>