<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<extensions>
		<add assembly="NLog.Extensions.AzureEventHub" />
	</extensions>

	<targets>
		<!-- For non-local environments we want logs to go to an Azure Event Hub instead of a file. Connection String and Hub Name are pulled from Key Vault in Program.cs-->
		<target type="AzureEventHub"
            name="AzureEventHub"
			connectionString="${gdc:item=EventHubConnectionString}"
			eventHubName="${gdc:item=EventHubName}"
			partitionKey="0"
			layout="TimeStamp=${longdate}|ResourceGroup=#{ResourceGroup}#|AppService=#{AppService}#|Category=BlattnerAppLogs|Level=${uppercase:${level}}|ActivityId=${activityid}|Logger=${logger}|Message=${message}${onexception:Inner=|Exception=${exception:format=tostring}}"
		>
		</target>

		<!-- Write to the void aka just remove logs -->
		<target xsi:type="Null" name="remove" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.HttpClient*" minlevel ="Trace" writeTo="remove" final="true" />
		<logger name="*" minlevel="Debug" writeTo="AzureEventHub" />
	</rules>
</nlog>